body {
  background-color: #f6f2ef;
}

main {
  padding-inline: 140px;
}

h1,
h2 {
  font-family: 'Montserrat-Arabic SemiBold';
  color: var(--primary-color);
}

h1 {
  font-size: 59.4px;
  margin-bottom: 65px;
}

h2 {
  font-size: 36.4px;
  color: var(--primary-color);
}

article h2 {
  text-align: center;
  margin-bottom: 88px;
}

h3 {
  font-family: 'Montserrat-Arabic Regular';
  font-size: 22.4px;
  color: var(--primary-color);
}

hr {
  margin: 105px 0;
  border: 1px solid var(--ternary-color);
}

.about-first h2 {
  color: var(--ternary-color);
}

.about-first img {
  width: 350px;
  border-radius: 26px;
}

.about-first-details {
  display: flex;
  gap: 120px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.about-first-details-heading h2 {
  margin-top: 2px;
}

.about-first-details-heading {
  margin-bottom: 34px;
}

.about-first-text {
  width: 620px;
}

span {
  color: var(--ternary-color);
}

article p {
  text-align: center;
  color: var(--primary-color);
  margin-top: 20px;
}

.swiper {
  width: 100%;
  height: 80vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}

.swiper-slide img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: var(--primary-color);
}

@media only screen and (max-width: 1024px) {
  main {
    padding: 0 80px;
  }
}

@media only screen and (max-width: 768px) {
  main {
    padding: 0 20px;
  }

  .swiper {
    height: 40vh;
  }

  article h2 {
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 426px) {
  .about-first-details {
    flex-direction: column;
    gap: 40px;
  }

  .about-first-details img {
    width: 100%;
  }

  .about-first-text {
    width: auto;
  }

  hr {
    margin: 60px 0;
  }
}
